{% extends 'AppPrueba/index.html' %}

{% load static %}

{% block titulo %}
<h1 class="mb-5" style="color:black">Bienvenido {{ usuario }}git add</h1><img height="100px" src="{{ avatar }}" alt="">

{% endblock %}

{% block contenido_que_cambia %}
<h2>Aqui puedes editar tus datos</h2>
<h3>{{ mensaje }}</h3>
<form action="{% url 'editarPerfil' %}" method="Post"> {% csrf_token %}
   
    <table>
        {{ formulario.as_table }}
    </table>
    <input type="submit" value="Guardar">
</form>
{% endblock %}