{% extends 'AppPrueba/index-leeryerbas.html' %}

{% load static %}

{% block titulo %}
<h1 class="mb-5" style="color:black">EDITANDO YERBA: {{ yerbilla }}</h1>
{% endblock %}

{% block contenido_que_cambia %}
{% if user.is_staff %}
<form action="{% url 'editarYerba' yerbilla.id %}" method="Post"> {% csrf_token %}
   
    <table>
        {{ formulario.as_table }}
    </table>
    <input type="submit" value="guardar">
</form>
{% else %}
PANEL DE ADMINISTRADOR. ACCESO DENEGADO
{% endif %}
{% endblock %}
