{% extends 'AppPrueba/index.html' %}

{% load static %}

{% block titulo %}
<h1 class="mb-5" style="color:rgb(0, 87, 0)">LISTADO DE YERBAS</h1>
{% endblock %}

{% block contenido_que_cambia %}
{% if user.is_authenticated %}
<h1>YERBAS</h1>

<ul>
    {% for int in object_list %}
       <li><strong>{{ int }}</strong></li>
        <br>
    {% endfor %}    
</ul>
<div class="d-flex justify-content-start mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'inicio' %}">Volver al Inicio</a></div>
<strong>¿Le interesa nuestro contenido? Contactenos!:</strong>
                        <a class="btn btn-success" href='{% url "leerUsuarios" %}'>Contactar</a>

{% else %}

{% endif %}
{% endblock %}